@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --dark: #000000;
  --light: #ffffff;
  --secondary: #0085fb;
  --tertiary: #ffe3e9;
  --success: #009485;
  --error: #81001e;
  --toastify-color-success: var(--success);
  --toastify-color-erro: var(--error);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--dark);
  overflow-x: hidden;
}

iframe {
  border-radius: 1rem;
  width: 75%;
  height: 50vh;
  margin: 0 auto;
}

section {
  padding: 2rem;
}

td {
  padding: 0.5rem 0;
}

.carousel {
  position: relative;
  height: 50vh;
  width: 75%;
  overflow: hidden;
  border-radius: 2rem;
}

.error-message {
  color: red;
}

@media only screen and (min-width: 768px) {
  .carousel {
    height: 75vh;
  }
}

@media only screen and (min-width: 1024px) {
  .text-light-light {
    text-shadow: 0 0 15px var(--light);
  }
}
